langchain-community==0.0.34
langchain==0.1.16
langchain-aws==0.1.2
beautifulsoup4==4.12.3
langchain-text-splitters==0.0.1
chromadb==0.4.24
atlassian-python-api==3.41.11
lxml==5.2.1
ollama==0.1.8
boto3==1.34.92
langchain-chroma==0.1.0
redis==5.0.4
langchainhub==0.1.15
nbconvert==7.16.4